/* GENERAL */

* {
    box-sizing: border-box;
    --box-shadox: 6px 12px 39px -18px rgba(0,0,0,0.75);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 1px 5px rgb(158, 157, 157);
    margin: 0;
    position: relative;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

/* LOCALISATION */

.localisation {
    display: flex;
    justify-content: center;
    background-color: #F3F3F3;
    text-align: center;
}

.fa-location-dot {
    padding: 15px;
}

/* RESERVATION */

.reservation {
    text-align: center;
}

.btn-reservation {
    border-radius: 30px;
    border: none;
    background: linear-gradient(to top, #9356DC, #FF79DA );
    color: white;
    font-size: 15px;
    padding: 1rem ;
    box-shadow: var(--box-shadox);
}

.btn-reservation:hover {
transform: scale(1.03);
}