* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  padding: 2rem 0 1rem 0;
  font-size: 1.5rem;
}

h3 {
  padding: 1rem 0 0.5rem 0;
}

footer {
  padding: 0 1rem 2rem 1rem;
}

.loader {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  height: 100vh;
  background-color: #f0eaf0;
  z-index: 1;
  opacity: 0.8;
  animation: loader 3s 3s both;
}
.loader::after {
  content: "";
  height: 5rem;
  width: 5rem;
  border: 5px solid transparent;
  border-top: 5px solid #FF79DA;
  border-right: 1px solid #FF79DA;
  border-radius: 30rem;
  border-style: dashed;
  animation: loader-icon 3s both;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 0.3rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 0.5rem;
}
.localisation i {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.localisation p {
  padding-bottom: 0;
}

.reservation {
  text-align: center;
  background-color: #fafafa;
}
.reservation p {
  margin-bottom: 2rem;
  font-weight: 300;
  padding: 0 0.8rem;
}
.reservation button {
  color: white;
  font-size: 1rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  margin-bottom: 2rem;
  box-shadow: 6px 6px 8px -4px rgba(153, 153, 153, 0.5);
}
.reservation button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

.fonctionnement {
  padding: 0 1rem;
  counter-reset: steps;
}
.fonctionnement ol {
  padding: 0 1rem 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) and (max-width: 949px) {
  .fonctionnement ol {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 767px) {
  .fonctionnement ol {
    grid-template-columns: repeat(1, 1fr);
  }
}
.fonctionnement li {
  background-color: #fafafa;
  padding: 1.5rem 2rem;
  box-shadow: 6px 6px 8px -4px rgba(153, 153, 153, 0.5);
  border-radius: 2rem;
  position: relative;
}
.fonctionnement li:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
  background-color: #e4d5f6;
}
.fonctionnement li:hover i:before {
  color: #9356DC;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 40px;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
  color: white;
}
.fonctionnement i {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1rem;
}

.restaurants {
  background-color: #fafafa;
  padding: 0 1rem;
}
.restaurants .restaurants-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 4rem;
}
@media (max-width: 767px) {
  .restaurants .restaurants-menu {
    grid-template-columns: 1fr;
  }
}
.restaurants .restaurants-menu .new {
  position: relative;
}
.restaurants .restaurants-menu .new:before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.restaurants .restaurants-card img {
  height: 15rem;
  border-radius: 2rem 2rem 0 0;
  width: 100%;
  object-fit: cover;
}
.restaurants .restaurants-card .restaurants-card-description {
  position: relative;
  background-color: white;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 6px 6px 8px -4px rgba(153, 153, 153, 0.5);
  color: black;
}
.restaurants .restaurants-card .restaurants-card-description h3, .restaurants .restaurants-card .restaurants-card-description p {
  padding-left: 1rem;
}
.restaurants .restaurants-card .restaurants-card-description p {
  padding-bottom: 1rem;
}
.restaurants .restaurants-card .restaurants-card-description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.restaurants .restaurants-card .restaurants-card-description .fa-solid {
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.restaurants .restaurants-card .restaurants-card-description .fa-solid:hover {
  opacity: 1;
  cursor: pointer;
}

footer {
  background-color: #353535;
  color: white;
}
footer .footer-logo {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}
footer ul li {
  padding: 0.3rem 0;
}
footer ul li a {
  color: white;
}
footer ul li i {
  padding-right: 0.5rem;
}

@keyframes demi-turn {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appearance {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 0;
  }
}
@keyframes loader-icon {
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
header {
  position: relative;
}
header a {
  color: black;
}
header a i {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.img-p-resto {
  width: 100%;
  object-fit: cover;
  height: 50vh;
  display: block;
}

.main-restaurants {
  background-color: #fafafa;
}

.title {
  background-color: #fafafa;
  position: relative;
  border-radius: 2rem 2rem 0 0;
  height: auto;
  margin-top: -2rem;
}
.title h2 {
  font-family: "Shrikhand", cursive;
  padding: 2rem 1rem;
}
.title i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.title .fa-solid {
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.title .fa-solid:hover {
  opacity: 1;
  cursor: pointer;
}

.menu {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 767px) {
  .menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menu .menu-plats {
  overflow: hidden;
}
.menu .menu-plats h3 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
.menu .menu-plats h3::after {
  content: "";
  position: absolute;
  bottom: 0.1rem;
  left: 0rem;
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
}
.menu .menu-plats .menu-card {
  background-color: white;
  display: flex;
  border-radius: 1.2rem;
  margin: 1rem 0.4rem;
  overflow: hidden;
  box-shadow: 6px 6px 8px -4px rgba(153, 153, 153, 0.5);
  animation: appearance 1s;
  animation-fill-mode: both;
}
.menu .menu-plats .menu-card:nth-child(2) {
  animation-delay: 200ms;
}
.menu .menu-plats .menu-card:nth-child(3) {
  animation-delay: 300ms;
}
.menu .menu-plats .menu-card:nth-child(4) {
  animation-delay: 400ms;
}
.menu .menu-plats .menu-card .menu-card-texte {
  padding: 1rem;
  overflow: hidden;
}
.menu .menu-plats .menu-card .menu-card-texte h4, .menu .menu-plats .menu-card .menu-card-texte p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu-plats .menu-card .menu-card-price {
  padding: 1rem;
  margin-left: auto;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}
.menu .menu-plats .menu-card .menu-card-valid {
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: all 0.4s;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}
.menu .menu-plats .menu-card .menu-card-valid i {
  font-size: 1.5rem;
  color: white;
}
.menu .menu-plats .menu-card:hover {
  cursor: pointer;
}
.menu .menu-plats .menu-card:hover .menu-card-valid {
  margin-right: 0rem;
}
.menu .menu-plats .menu-card:hover i {
  animation: demi-turn 1s ease-in-out;
}

.btn-order {
  text-align: center;
  height: 5rem;
  margin-top: 2rem;
}
.btn-order button {
  color: white;
  font-size: 1rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  margin-bottom: 2rem;
  box-shadow: 6px 6px 8px -4px rgba(153, 153, 153, 0.5);
}
.btn-order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}

@keyframes demi-turn {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appearance {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 0;
  }
}
@keyframes loader-icon {
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
