* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-title: "Shrikhand", cursive;
  --font-family:"Roboto", sans-serif;
  --primary: #9356DC;
  --secondary: #FF79DA;
  --thirdly: #99E2D0;
  --background: #fafafa;
  --background-grey-dark:#353535;
  --grey-dark: #999;
  --grey-light: #7e7e7e;
  --box-shadow: 6px 6px 8px -4px rgba(153,153,153,0.5);
}

body {
  font-family: var(--font-family);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  padding: 2rem 0 1rem 0;
  font-size: 1.5rem;
}

h3 {
  padding: 1rem 0 0.5rem 0;
}

footer {
  padding: 0 1rem 2rem 1rem;
}

header {
  font-family: var(--font-family-title);
  text-align: center;
  padding: 0.3rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 0.5rem;
}
.localisation i {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.localisation p {
  padding-bottom: 0;
}

.reservation {
  text-align: center;
  background-color: var(--background);
}
.reservation p {
  margin-bottom: 2rem;
  font-weight: 300;
}
.reservation button {
  color: white;
  font-size: 1rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(to top, var(--primary), var(--secondary));
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
}
.reservation button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  opacity: 0.9;
}

.fonctionnement {
  padding: 0 1rem;
  counter-reset: steps;
}
.fonctionnement ol {
  padding: 0 1rem 2rem 1rem;
  display: flex;
  gap: 2rem;
}
@media (min-width: 768px) and (max-width: 979px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  background-color: var(--background);
  padding: 1.5rem 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  position: relative;
}
.fonctionnement li:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 40px;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
  color: white;
}
.fonctionnement i {
  margin-right: 1rem;
  color: var(--grey-light);
  font-size: 1rem;
}

.restaurants {
  background-color: var(--background);
  padding: 0 1rem;
}
.restaurants .restaurants-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 4rem;
}
@media (max-width: 767px) {
  .restaurants .restaurants-menu {
    grid-template-columns: 1fr;
  }
}
.restaurants .restaurants-menu .new {
  position: relative;
}
.restaurants .restaurants-menu .new:before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: var(--thirdly);
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.restaurants .restaurants-card img {
  height: 15rem;
  border-radius: 2rem 2rem 0 0;
  width: 100%;
  object-fit: cover;
}
.restaurants .restaurants-card .restaurants-card-description {
  position: relative;
  background-color: white;
  border-radius: 0 0 2rem 2rem;
  color: black;
}
.restaurants .restaurants-card .restaurants-card-description h3, .restaurants .restaurants-card .restaurants-card-description p {
  padding-left: 1rem;
}
.restaurants .restaurants-card .restaurants-card-description p {
  padding-bottom: 1rem;
}
.restaurants .restaurants-card .restaurants-card-description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.restaurants .restaurants-card .restaurants-card-description .fa-solid {
  color: transparent;
  background-image: linear-gradient(to top, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.restaurants .restaurants-card .restaurants-card-description .fa-solid:hover {
  opacity: 1;
  cursor: pointer;
}

footer {
  background-color: var(--background-grey-dark);
  color: white;
}
footer .footer-logo {
  font-family: var(--font-family-title);
  font-weight: 500;
}
footer ul li {
  padding: 0.3rem 0;
}
footer ul li a {
  color: white;
}
footer ul li i {
  padding-right: 0.5rem;
}

@keyframes demi-turn {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.img-p-resto {
  width: 100%;
  object-fit: cover;
  height: 50vh;
  display: block;
}

.main-restaurants {
  background-color: var(--background);
}

.title {
  background-color: var(--background);
  position: relative;
  border-radius: 2rem 2rem 0 0;
  height: auto;
  margin-top: -2rem;
}
.title h2 {
  font-family: var(--font-family-title);
  padding: 2rem 1rem;
}
.title i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.title .fa-solid {
  color: transparent;
  background-image: linear-gradient(to top, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.title .fa-solid:hover {
  opacity: 1;
  cursor: pointer;
}

.menu {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 3, 1fr;
  gap: 1rem;
}
@media (max-width: 767px) {
  .menu {
    grid-template-columns: 1, 1fr;
  }
}
.menu .menu-plats {
  overflow: hidden;
}
.menu .menu-plats h3 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
.menu .menu-plats h3::after {
  content: "";
  position: absolute;
  bottom: 0.1rem;
  left: 0rem;
  height: 0.25rem;
  width: 3rem;
  background-color: var(--thirdly);
}
.menu .menu-plats .menu-card {
  background-color: white;
  display: flex;
  border-radius: 1.2rem;
  margin: 1rem 0.4rem;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.menu .menu-plats .menu-card .menu-card-texte {
  padding: 1rem;
  overflow: hidden;
}
.menu .menu-plats .menu-card .menu-card-texte h4, .menu .menu-plats .menu-card .menu-card-texte p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu-plats .menu-card .menu-card-price {
  padding: 1rem;
  margin-left: auto;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}
.menu .menu-plats .menu-card .menu-card-valid {
  background-color: var(--thirdly);
  margin-right: -4rem;
  width: 4rem;
  transition: all 0.4s;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}
.menu .menu-plats .menu-card .menu-card-valid i {
  font-size: 1.5rem;
  color: white;
}
.menu .menu-plats .menu-card:hover .menu-card-valid {
  margin-right: 0rem;
}
.menu .menu-plats .menu-card:hover i {
  animation: demi-turn 1s ease-in-out;
}

@keyframes demi-turn {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*# sourceMappingURL=style.css.map */
