body {
    font-family: var(--font-family);
    min-height: 100vh;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    padding: 2rem 0 1rem 0;
    font-size: 2rem;
}

h3 {
    padding: 1rem 0 0.5rem 0;
}

p {
    padding-bottom: 0.4rem;
}
