
//POLICE 
$font-family-title: 'Shrikhand', cursive;
$font-family:'Roboto', sans-serif;
// COULEURS
$primary: #9356DC;
$second: #FF79DA;
$third: #99E2D0;
$background: #fafafa;
$background-grey-dark:#353535;
$grey-dark: #999;
$grey-light: #7e7e7e;
$box-shadow: 6px 6px 8px -4px rgba(153,153,153,0.5);

