:root {
    //POLICE 
    --font-family-title: 'Shrikhand', cursive;
    --font-family:'Roboto', sans-serif;
    // COULEURS
    --primary: #9356DC;
    --secondary: #FF79DA;
    --thirdly: #99E2D0;
    --background: #fafafa;
    --gray-dark: #999;
    --gray-light: #7e7e7e;
    --box-shadow: 6px 6px 8px -4px rgba(0,0,0,0.5);
}
