// HEADER

header {
    position: relative;
    a {
        color: black;
        i {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
        }
    }
}

// IMGAGE
.img-p-resto {
   width: 100%; 
   object-fit: cover;
    height: 50vh;
    display: block;
}

.main-restaurants {
    background-color: $background;
}

// TITLE
.title {
    background-color: $background;
    position: relative;
    border-radius: 2rem 2rem 0 0;
    height: auto;
    margin-top: -2rem;
    h2 {
        font-family: $font-family-title;
        padding: 2rem 1rem;
    } 
    @include btn-heart;
}

// MENU

.menu {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @include sm {
        grid-template-columns: repeat(1, 1fr);
    }
    .menu-plats {
        overflow: hidden;
        h3 {
            text-transform: uppercase;
            font-weight: 300;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0.1rem;
                left: 0rem;
                height: 0.25rem;
                width: 3rem;
                background-color: $third;
            }
        }
    }
}

.menu-card {
    background-color: white;
    display: flex;
    border-radius: 1.2rem;
    margin: 1rem 0.4rem;
    overflow: hidden;
    box-shadow: $box-shadow;
    @for $i from 2 through 4 {
        &:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
        }
    }
    animation: appearance 1s;
    animation-fill-mode: both;
    .menu-card-texte {
        padding: 1rem;
        overflow: hidden;
        h4, p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; 
        }
    }
    .menu-card-price {
        padding: 1rem;
        margin-left: auto;
        font-weight: bold;
        display: flex;
        align-items: flex-end;
    }
    .menu-card-valid {
        background-color: $third;
        margin-right: -4rem;
        width: 4rem;
        transition: all 0.4s;
        display: grid;
        place-items: center;
        flex-shrink: 0;
        i {
            font-size: 1.5rem;
            color: white;
        }
    }
    &:hover {
        cursor: pointer;
        .menu-card-valid {
        margin-right: 0rem;
        }
        i {
            animation: demi-turn 1s ease-in-out;
        }
    }
}

// ORDER
.btn-order {
    text-align: center;
    height: 5rem;
    margin-top: 2rem;
    button { 
    @include btn-standard;
    &:hover {
        @include zoom;
    }
    }
}